# All files under /website are owned only by @pagopa/io-wallet
/website/* @pagopa/io-wallet

# All other files are owned by both @pagopa/io-wallet and @sebastianopriscan
* @pagopa/io-wallet @sebastianopriscan